<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <connectionStrings>
    <add name="zhancblog" connectionString="Data Source=.;Initial Catalog=zhancblog;User ID=sa;Password=twtyssjyxgs"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".master" />
      <mimeMap fileExtension=".master" mimeType="application/octet-stream"/>
    </staticContent>
  </system.webServer>
</configuration>
